* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color:#551a8b ;
    text-decoration: underline;
    cursor: pointer;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.507) 0%, rgba(182, 131, 245, 0.507) 100%), url(../images/OIP.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.menu {
    
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}


.menu-navegacion {
    
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, 0.074) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.29) 0%, rgba(0, 0, 0, 0.227) 120%) #989898;
    background-blend-mode: multiply, multiply;
    display: flex;
    flex-direction: column;
    padding:8px 16px ;

    
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0,0,6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);

}
.menu-navegacion   a {
    color: white;
    text-decoration: none;
}
.menu-navegacion a:hover{
    background: #4a4a4a;
    display: block;
    padding:8px 16px ;
    border-radius: 5px;
}
.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    

}
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #333;
    margin-bottom: 40px;
    font-size: 40px;
    
}
.contenedor-definicion{
    
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-definicion img{
    width: 700px;
    height: 400px;
    border-radius: 7px; 
    border: 5px solid black;
    float: right;

}
.p1{
        line-height: 1.5;
        font-size:22px;    
        margin: 40px;
    
}
h3{
    line-height: 1.2;
    font-size: 17px;
    margin: 25px 0px 35px 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #262626;

}
.contenedor-beneficios img{
    line-height: 50px;
    width: 1020px;
    height: 450px;
    margin: auto;
    display: flex;
}
.image1 img{
    margin: 15px 40px 0px 0px;
    width: 318px;
    height: 215px;
    float: right;
    border: 5px solid black;
}
p{
    line-height: 1.5;
    font-size:22px;
    margin: 40px 0px 30px 110px;
    
}
.image2 img{
    margin: 45px 20px 0px 40px;
    width: 260px;
    height: 200px;
    float: left;
    border: 5px solid black;
}
h4{
    font-size: 20px;
    margin: 40px 0px 30px 110px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #106ebe;
    text-decoration: underline;
}
.footer{
    background: #36393f;
    padding: 64px 0;
    text-align: center;
    color: white;
    margin-top: 96px;
}
@media   screen and (max-width: 810px ){
.menu-navegacion{
    width: 35vw;
}
.titulo{
    font-size: 40px;
}
.contenedor-beneficios img{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
.contenedor-definicion img{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;

}
p{
    width: 100%;
    height: 100%;
}
.image1 img{
    width: 67%;
    height: 80%;
    
}

}



