/*título

.titulo {
  font-family: serif;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  color: brown;
  margin: 0px 0px 0px 0px;

/*subtítulos*/

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 50px;
  font-size: 30px;
  margin: 30px;
  color: #154273;
  margin: 10px 50px 30px 40px;
}

/*listas*/

.beneficios {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 50px;
  font-size: 30px;
  margin: 22px;
  color: black;
  margin: 20px 30px 0px 30px;
}

.compañias {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 50px;
  font-size: 22px;
  margin: 18px;
  color: black;
  margin: 20px 30px 0px 30px;
}

/*párrafos*/

.principal {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 22px;
  margin: 30px 80px 30px 80px;
  text-align: justify;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 22px;
  margin: 20px 70px 20px 40px;
  text-align: justify;
}

.descripcion_compañia {
  color: rgb(99, 99, 99);
}

/*imágenes*/

/* Imagen principal
.imagen_principal {
  line-height: 50px;
  width: 1500px;
  height: 500px;
  margin: 0px 0px 50px 0px;
}*/

img {
  line-height: 50px;
  width: 800px;
  height: 300px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.imagen_derecha {
  float: right;
  width: 320px;
  height: 170px;
  margin: 0px 70px 0px 50px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.imagen_izquierda {
  float: left;
  width: 300px;
  height: 150px;
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

/*enlaces*/

.enlaces {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 20px;
  margin: 20px 70px 20px 40px;
  text-align: justify;
  color: #2e86c1;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      120deg,
      rgba(161, 196, 253, 0.473) 0%,
      #c2e9fb75 100%
    ),
    url(../images/imagen_inicio.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 50px;
  font-size: 22px;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

:root {
  scroll-behavior: smooth;
}

.lista {
  position: fixed;
  top: 30px;
  right: 30px;
  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.lista-desplegable {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 50px;
  font-size: 30px;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  /*background: #c9ccd3;*/
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
  transform: translate(0);
}

.lista-desplegable a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}*/
